<div class="container">
    <h1>Ostatnio zamkniete: {{zmienna}}</h1>

    <input type="text" ng-model="zmienna" />

    <app-alert
        message="wystapil blad"
        type="danger"
        on-dismiss="zmienna = 1"
    ></app-alert>
    <app-alert
        message="Brak wiadomosci"
        type="info"
        on-dismiss="zmienna=123412"
    ></app-alert>
    <app-alert
        message="Wiadomosc wyslana"
        type="success"
        on-dismiss="zmienna = 3"
    ></app-alert>
</div>
