<div class="container p-4">
  <div class="row" ng-controller="TasksCtrl">
    <div class="col">
      <button class="btn btn-info mt-4" ng-click="filterByName()">Filter by name</button>
      <div class="mt-4">
        <label for="search">search</label>
        <input type="text" id="search" class="form-control" placeholder="search" ng-model="nameSearched"
         ng-keyup="search(nameSearched)">
      </div>
      <div class="mt-4">
        <label for="addTask">add</label>
        <input type="text" id="addTask" class="form-control" placeholder="add" ng-model="newTask" 
        ng-keypress="$event.keyCode === 13 && addTask(newTask)">
        <button class="btn btn-success" ng-click="addTask(newTask)">add</button>
      </div>
      <div class="list-group mt-4">
        <div class="list-group-item d-flex justify-content-between" ng-repeat="item in filteredTasks" ng-click="active(item.id)" ng-class="{'active' : selectedTask.id === item.id, 
                  'text-decoration-line-through' : item.completed}">
          {{$index+1}}. {{item.name}}
          <button class="btn btn-danger" ng-click="delete(item.id)">X</button>
        </div>
        <div>
          <div><span ng-model="count">Completed tasks: {{count}}</span></div>
          <div><span ng-model="count">Uncompleted tasks: {{tasks.length - count}}</span></div>
        </div>
      </div>
      
    </div>
    <div class="col">
      <dl ng-show="listMode === 'show'">
        <dt>Name:</dt>
        <dd>{{selectedTask.name}}</dd>

        <dt>Completed:</dt>
        <dd>{{selectedTask.completed ? 'yes' : 'no'}}</dd>

        <button class="btn btn-info" ng-click="edit()">Edit</button>
      </dl>

      <form ng-show="mode === 'edit'" ng-hide="mode !== 'edit'">
        <!-- .form-group>label{Name}+input.form-control -->
        <div class="form-group mb-3"><label for="task_name">Name</label>
          <input id="task_name" type="text" class="form-control" ng-model="editTask.name">
        </div>
        <div class="form-group mb-3"><label for="task_completed">Completed</label>
          <input id="task_completed" type="checkbox" ng-model="editTask.completed">
        </div>

        <button class="btn btn-success" ng-click="save()">Save</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        <button class="btn btn-warning" ng-click="clear()">Clear</button>
      </form>

    </div>
  </div>
</div>