<div class="container">
  <div class="row" ng-controller="UsersCtrl" ng-model="selectedUser">
    <div class="col-5">
      <h4>Users List</h4>
      <div>
        <p class="text-danger" ng-if="usersPage.msg">{{usersPage.msg}}</p>


        <form class="mb-3" name="usersPage.form">
          <div class="mb-3">
            <label for="userName" class="form-label">Name</label>
            <input type="text" class="form-control" id="userName" ng-model="usersPage.newUser.name" name="name" required
            minlength="3" >
              

              <div ng-if="usersPage.form['name'].$dirty || usersPage.form['name'].$touched || usersPage.form['name'].$submitted">
                <p class="text-danger" ng-if="usersPage.form['name'].$error.minlength">Name is too short!</p>
                <p class="text-danger" ng-if="usersPage.form['name'].$error.required">Name is required!</p>
              </div>
          </div>
          <div class="mb-3">
            <label for="userEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="userEmail" name="email" ng-model="usersPage.newUser.email" required>

            <div ng-if="usersPage.form['email'].$dirty || usersPage.form['email'].$touched || usersPage.form['email'].$submitted">
              <p class="text-danger" ng-if="usersPage.form['email'].$error.required">Email is required!</p>
              <p class="text-danger" ng-if="usersPage.form['email'].$error.email">Email is invalid!</p>
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary" ng-click="usersPage.add(usersPage.newUser.name, usersPage.newUser.email)">Add New User</button>
        </form>

      </div>
      <div class="list-group">
        <div class="list-group-item d-flex justify-content-between" 
        ng-repeat="item in users" ng-click="usersPage.selectUser(item.id)" 
          ng-class="{'active' : item.id === usersPage.selectedUser.id}">
          {{$index+1}}. {{item.name}} <button class="btn btn-danger" ng-click="$event.stopPropagation(); usersPage.remove(item.id)">X</button></div>
        </div>
    </div>
    <div class="col-5">
      <h4>Selected user details</h4>
      <dl>
        <dt>Name</dt>
        <dd><input type="text" ng-model="usersPage.selectedUser.name"></dd>
      </dl>
      <button type="button" class="btn btn-primary" ng-click="usersPage.save(usersPage.selectedUser)">save</button>
    </div>

    
    
  </div>
</div>